<% content_for(:head) do %>
	<%= render :partial => "toggle" %>
<% end %>

<h1>Configurations</h1>
<div class="configuration_page"> 
	<h3 class = "user" >Bentuzer</h3> 
	<h3 class = "reward">Belohnungen</h3>
	<h3 class = "event">Aufgaben</h3>
	<h3 class = "chore">Aufgabentypen</h3>
</div>
	
<div class="configurations">	 
	<div class= "user_configurations"> 
		<% @users.each do |u| %>
			 <% @user2 = u %>
				 <p>
				 <%= u.login %>
				 </p>
					<div class = '<%= u.color %>'
						<%= render 'shared/profile_image', {:user => u} %>
					</div>
				  <%= link_to 'Destroy Account', u, :confirm => 'Are you sure?', :method => :delete %>
				  <% form_for(@user2)  do |f| %>
					  <%= f.error_messages %>
						Child <%= f.radio_button :roles, 'child', :checked => true %> <br />
						Parent <%= f.radio_button :roles, 'parent' %> <br />
						<%= f.submit 'Update' %>
				 <% end %>
		<% end %>
	 </div>
	 
	 <div class = "rewards_conf">
		  <%= render Reward.new, :button_name =>  'Create'%> 
			<%= render 'rewards/index' %>
		</div>
	
		<div class = "events_conf">
			<%= render 'events/index', :locals => {:events => @events} %>
		</div>
		
		<div class = "chores_conf">
			<%= render 'chores/index', :locals => {:chores => @chores} %>
		</div>
</div>


<%= render :text => "hello world" %>

