<h1>Listing rewards</h1>

<%= link_to 'New reward', new_reward_path(@calendar) %>

<% for reward in @rewards %>
  <p>
    <%=h reward.title %>
  </p>
  <p>
    points: <%=h reward.points %>
  </p>
 
    <%= link_to 'Show', [reward] %>
    <%= link_to 'Edit', [:edit,reward] %>
    <%= link_to 'Destroy', [reward], :confirm => 'Are you sure?', :method => :delete %>
  
<% end %>


