<h2>Your Account</h2>

<div id="profile_image">
	<% frame = "<div class = '#{@user.color}'>"%>
		<%= frame %>
		<% if @user.photo.exists? %>
			<%= image_tag(@user.photo.url) %> 
		<% else %>
			<%= image_tag(@picture) %> 
		<% end %>
	<div>
</div>
	
<div class="profile_data">
	<p>
	  Name:
	  <b><%=h @user.login %></b>
	</p>

	<p>
	  Email:
	  <b><%=h @user.email %></b>
	</p>

	<p>
	  Color:
	  <b><%=h @user.color %></b>
	</p>

	<p>
	  Role:
	  <b><%=h @user.roles %></b>
	</p>
</div>

<div class="stars_count">
	
	Stars Count:
	<% if !@present.nil? %>
		<p>
			<%=h @present.title %>
		</p>
		<p>
			<%= @stars_to_present %>/<%= @present.points %> 
		</p>
	<% end %>
</div> 

<div class="stars_clouds">
	  <div class="entire_stars_count">
			<%= @user.entire_stars_count %>
		</div>
		<div class="clouds">
			<%= @user.clouds %>
		</div>
</div>
<div class="present"><%= image_tag('../images/Profil/Belohnung_big.png') %> </div>

<div class="kitty"><%= image_tag('../images/Profil/Kitty.png') %></div>

<div class="points">
	<%= image_tag('../images/Profil/Stern_klein.png') %>
	<%= image_tag('../images/Profil/Wolke_klein.png') %>
</div>

<p class="edit_account"><%= link_to 'Edit Account', [:edit, @user] %></p>

