<h2>Your Account</h2>

<div id="profile_image">
	<div class = '<%= @user.color %>'>
		<%= render 'shared/profile_image', {:user => @user} %>
	<div>
</div>
	
<div class="profile_data">
	<p>
	  Name:
	  <b><%=h @user.login %></b>
	</p>
	<p>
	  Email:
	  <b><%=h @user.email %></b>
	</p>
	<p>
	  Color:
	  <b><%=h @user.color %></b>
	</p>
	<p>
	  Role:
	  <b><%=h @user.roles %></b>
	</p>
</div>

<div class="stars_count">
	Dein nächstes Geschenk
	<% if !@present.nil? %>
		<p>
			<%=h @present.title %>
		</p>
		<p>
			<%= @stars_gathered %>/<%= @present.points %> 
		</p>
		<p>
		Gesammelte Sterne / Benötigte Sterne
		</p>
	<% end %>
</div> 

<div class="stars_clouds">
	<p>
		Sterne & Wolken gesamt:
	</p>
	<div class="entire_stars_count">
		<%= @user.entire_stars_count %>
	</div>
	<div class="clouds">
		<%= @user.clouds %>
	</div>
</div>

<div class="present"><%= image_tag('../images/Profil/Belohnung_big.png') %></div>
<div class="kitty"><%= image_tag('../images/Profil/Kitty.png') %></div>

<div class="points">
	<%= image_tag('../images/Profil/Stern_klein.png') %>
	<%= image_tag('../images/Profil/Wolke_klein.png') %>
</div>

<p class="edit_account"><%= link_to 'Edit Account', [:edit, @user] %></p>

