<h2>Zugeteilte Aufgaben</h2>

<%= link_to 'New event', new_calendar_event_path(@calendar) %>

<% for event in @events %>
  <p>
		<%= render "shared/chore_image", {:chore => event.chore} %> <br />
		Titel: <%=h event.chore.title %> <br />
		Beschreibung: <%=h short(event.description) %><br />
		am: <%= event.start_on.strftime('%d.%m.%Y') %><br />
		muss erledigt werden von: <%=h event.user.login %>
	</p>
  <p>
    <%= link_to 'Bearbeiten', [:edit, @calendar, event] %> 
		<%= link_to 'Löschen', [@calendar, event], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
