<script type="text/javascript">
	$(function() {
		//$("tbody").sortable({items: 'td', containment: 'table' });
		/*$("td").hoverbox();*/
	});
</script>
	
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.em', 'jquery.onImagesLoad' %>

<%= render :partial => 'effects' %>

<% end %>

<% content_for(:nav) do %>
	<div class = "trigger"><%= image_tag('Aufgaben_light.png') %> </div>
	<div class="toggle_container">
		<span title= "Neuen Aufgabentyp erstellen">
			<div class="upload"><%= image_tag('../images/Buttons/Uploadicon.png', :id =>"chores") %></div>
		</span>
		<span title = "Aufgabe erstellen und zuteilen">
			<div class="newEvent"><%= image_tag('../images/Buttons/Beschriftung.png', :id => "events") %></div>
		</span>
		<div class = "block">
				<% @calendar.chores.each do |chore| %>
					<%= render "shared/chore_image", {:chore => chore} %>
					<%= chore.title %>
				<% end %>
		</div>
	</div>
<% end %>
	
<%= render :partial => "members" %>

<ul>
<% if permitted_to? :create, @chore %>
	<div class="chores">
		<div class="close_chores"><%= image_tag("../images/Ranking/Vogel2.png") %></div>
			<li>
				<h3>Aufgabentyp erstellen</h3>
				<%= render :partial => @chore = Chore.new, :locals => { :button_name => 'Create'} %>
			</li>
	</div>
<% end %>
	<div class="events">
		<div class="close_events"><%= image_tag("../images/Ranking/Vogel2.png") %></div>
			<li>
				<% if !@calendar.chores.empty? %>
					<h3>Aufgabe erstellen</h3>
					<%= render :partial => @event = Event.new, :locals => { :button_name => 'Create'}%>
				<% end %>
			</li>
	</div>
</ul>
<%= link_to "Alle Ical Kalender zum Abbonieren", icalfiles_path %> |
<%= link_to "Ical Download des Kalenders", params.merge(:format => :ics) %>

<!--<div id="calendar_container">-->
<a class="prev browse left">prev</a>
<div class="scrollable">
	<%= render :partial => "table" %>
</div>
<a class="next browse right">next</a>
<%
=begin %>
<%
=end %>

<script type="text/javascript">
$(function() {

	//$('div#calendar_container').jScrollPane();
	//$('.scroll-pane').jScrollPane({showArrows: true, horizontalGutter: 200, verticalGutter :200 });
	$(".scrollable").scrollable();

});
</script>