<script type="text/javascript">
	$(function() {
		$("tbody").sortable({items: 'td', containment: 'table' });
		$("td").hoverbox();
	});
	
	$(document).ready(function() {
    $("#accordion").accordion();
  });
</script>
	
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.em', 'jquery.onImagesLoad', 'jquery.mousewheel', 'jScrollPlane' %>

<%= render :partial => 'effects' %>

<% end %>

<% content_for(:nav) do %>
	<div class = "trigger"><%= image_tag('Aufgaben_light.png') %> </div>
	<div class="toggle_container">
		<div class="upload"><%= image_tag('../images/Buttons/Uploadicon.png') %></div>
		<div class="newEvent"><%= image_tag('../images/Buttons/Beschriftung.png') %></div>
		<div class = "block">
				<% @calendar.chores.each do |chore| %>
					<% if !chore.image_url.nil? %>
						<%= image_tag(chore.image_url) %>
					<% else %>
						<%= image_tag(chore.image.url) %>
					<% end %>
					<%= chore.title %>
				<% end %>
		</div>
	</div>
<% end %>
	
<%= render :partial => "members" %>

<ul>
<% if permitted_to? :create, @chore %>
	<div class="chores">
		<div class="close_chores"><%= image_tag("../images/Ranking/Vogel2.png") %></div>
			<li>
				<h3>Create Chores</h3>
				<%= render :partial => @chore = Chore.new, :locals => { :button_name => 'Create'} %>
			</li>
	</div>
<% end %>
	<div class="events">
		<div class="close_events"><%= image_tag("../images/Ranking/Vogel2.png") %></div>
			<li>
				<% if !@calendar.chores.empty? %>
					<h3>Create new event</h3>
					<%= render :partial => @event = Event.new, :locals => { :button_name => 'Create'}%>
				<% end %>
			</li>
	</div>
</ul>

<%= render :partial => "table" %>


<%
=begin %>
<%
=end %>
