<% form_for([@calendar,@chore ],:html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
	<p>
		<%= f.label :icon %> <br />
		<%= f.file_field :image %>
	</p>
	<p>
    <%= f.submit button_name %>
  </p>
<% end %>
