<h1>Listing chores</h1>

<%= link_to 'New chore', new_calendar_chore_path(@calendar) %>
<% for chore in @chores %>
  <h3><%=h chore.title %></h3>
  <%= render "shared/chore_image", {:chore => chore} %>
  <p>
    <%= link_to 'Bearbeiten', [:edit, @calendar, chore] %> |
		<%= link_to 'Löschen', [@calendar, chore], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
