<p>
  <b>Chore:</b>
  <%=h @chore.title %>
</p>

<p>
  <b>Image:</b>
	<% if !@chore.image_url.nil? %>
		<%= image_tag(@chore.image_url) %> 
	<% else %>
		<%= image_tag(@chore.image.url) %> 
	<% end %>
</p>

<%= link_to 'Edit', [:edit, @calendar, @chore] %> |
<%= link_to 'Back', calendar_path(@calendar) %>