<%-# link_to "Ical", :controller => "icalfiles", :location => "famcalendar.ics", :action => "famcalendar.ics" -%>
<%# render :file => "public/system/ical/#{@user.fam.id}/famcalendar.ics" -%>

<% @users.each do |user| %>
	<h3><%= user.login %></h3>
	<%= link_to "Link zum Abonnieren und Download des Kalenders:", "http://localhost:3000/users/#{user.id}/icalfiles/download?to=#{user.password_salt}" %>http://localhost:3000/users/<%= user.id%>/icalfiles/download?to=<%=user.password_salt%><br/>
<% end %>

<%= link_to "family", "/ical/#{@user.fam.id}/famcalendar.ics" %>